{% spaceless %}
    <nav role="navigation" class="navegacion">
        <ol class="nav-miga nthchild" data-nthchild="0" id="nav-miga">
            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://www.elmundo.es" itemprop="url">
                    <span itemprop="title">Portada</span>
                </a>
            </li>
            {%- for nodoPadre in nodosPadre -%}
                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                    <a href="{{- nodoPadre.URL -}}" itemprop="url">
                        <span itemprop="title">{{- nodoPadre.NOMBRE -}}</span>
                    </a>
                    {%- if nodoPadre.ID == idNodo -%}
                    <span id="desplegar" class="desplegar" onclick="ueUtils.toggleClass('desplegar','open');" ></span>
                        <ul>
                            {%- for nodoHijo in nodosHijo -%}
                                <li>
                                    <a href="{{- nodoHijo.URL -}}">{{- nodoHijo.NOMBRE -}} </a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ol>
    </nav>
{% endspaceless %}
